<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<meta name="google-site-verification" content="v5T3_WyVzJr-riOz7Oynxk8EuKLBRBcGNHhXzmkCr-Q"/>
	<link rel="stylesheet" href="/stylesheets/header.css" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Raleway" rel="stylesheet">
	<link rel="stylesheet" href="/stylesheets/normalize.css" type="text/css">
	<title>Jonathan Cohen-Clarinet</title>
</head>
<body>
	<div class="container">
		<div id="nav">
			<a href="/">Jonathan Cohen</a>
			<a href="/about">About</a>
	        <a href="/media">Listen & Watch</a>
	        <a href="/contact">Contact</a>
		</div>
	</div>
