<% include partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/about.css">
<div id="contentcontainer">
    <div class="aboutcontent">
        <p class="first">Clarinetist Jonathan Cohen lives in New York City, performing with top orchestras and chamber groups around the world. A third generation clarinetist, Jonathan was born in New Orleans. He began lessons with his father, Steve Cohen, at the age of 10.
        He has performed as soloist with the Louisiana Philharmonic Orchestra, the Montgomery Symphony Orchestra, the Interlochen Arts Academy Orchestra, and the Minnesota Orchestra.
        <p>Upon finishing his Master of Music degree from Juilliard, Jonathan went on to play with the Saint Paul Chamber Orchestra for three seasons. In addition to weekly concerts, he also maintained an 
        active teaching studio as well mentoring young students in the Greater Twin Cities Youth Orchestra.</p>
        <p>His summer festival performances include appearances at the Mostly Mozart, Ravinia, Sunflower, Buzzard’s Bay, Naumburg Summer Series, and Minnesota Beethoven festivals among others.</p>
        <p>In addition to his work with the Saint Paul Chamber Orchestra, Jonathan has also appeared as a guest member with the Orpheus Chamber Orchestra, the Virginia Symphony, The Knights Chamber Orchestra, International Contemporary Ensemble (ICE), 
        the Bavarian Radio Symphony, the Buffalo Philharmonic, the Cincinnati Symphony, the New York Philharmonic, and the Metropolitan Opera Orchestra.</p>
        <p>Jonathan's major teachers have been Steve Cohen, Nathan Williams, Yehuda Gilad, Mark Nuccio, and Anthony McGill. He holds degrees from the Manhattan School of Music and The Juilliard School.</p>
    </div>
</div>
<% include partials/footer %>