<% include partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/contact.css">

<div class="contact">
    <a class="email" href="mailto:cohenj2006@gmail.com">cohenj2006@gmail.com</a>
    <p>Accepting Private Students</p>
</div>

<% include partials/footer %>