<% include partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
	<div id="wrapper">
		<div class="pic">
			<img id="coolpic" src="/photos/coolimage.jpg">
		</div>
		<div class="shows">
			<div id="headershows">
				<h1>Jonathan Cohen</h1>
				<h4>Musician//Clarinet</h4>
			</div>
			<div id="upcoming">
				<h3>UPCOMING PERFORMANCES</h3>
			</div>
			<div id="showbox">
				<div>
					<p class="group">Ridgefield Symphony Orchestra</p>
					<p class="date">Ridgefield, CT <br> May 11 8PM</p>
				</div>
				<div>
					<p class="group">Knights Chamber Orchestra</p>
					<p class ="date">New York, NY <br> May 13 8PM</p>
				</div>
				<div>
					<p class="group">Sunflower Music Festival</p>
					<p class="date">Topeka, KS <br> June 19-29</p>
				</div>
				<div>
					<p class="group">Buzzards Bay Music Festival</p>
					<p class="date">Marion, MA <br> July 9-14</p>
				</div>
				<div>
					<p class="group">Brevard Music Center</p>
					<p class="date">Brevard, NC <br> July 19-August 2</p>
				</div>
				<div>
					<p class="group">Lakes Area Music Festival</p>
					<p class="date">Brainerd, MN <br> August 8-25</p>
				</div>
			</div>
		</div>
	</div>
<% include partials/footer %>