.aboutcontent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    animation-name: appear;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15%;
}

#contentcontainer {
    height: 100%;
}

body, html {
    height: 100%;
    width: 100%;
    background-image: url(/photos/JCBackground.png);
    color: white;
    margin: 0;
}

p {
    margin: 5px;
    font-family: "open sans condensed";
    line-height: 1.5;
    font-size: 1.5;
    letter-spacing: 2px;
}

.first {
    font-weight: 700;
}


@keyframes appear {
    0% {
        transform: translateX(1000px);
        opacity: 0;
    }
    25% {
        transform: translateX(750px);
        
    }
    50% {
        transform: translateX(500px);
    }
    75% {
        transform: translateX(250px);
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}



@media only screen and (max-width: 900px) {
    .aboutcontent {
        flex-wrap: wrap;
    }
    
    @keyframes appear {
    0% {
        transform: translateY(1000px);
        opacity: 0;
    }
    25% {
        transform: translateY(750px);
    }
    50% {
        transform: translateY(500px);
    }
    75% {
        transform: translateY(250px);
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
    }
}